-# Use inside forms like this:
-#
-# = form_for @user do |f|
-#   = render '/shared/error_messages', :target => @user
-#
-# See http://asciicasts.com/episodes/211-validations-in-rails-3

- if target.errors.any?
  #errorExplanation
    %h2
      = pluralize(target.errors.count, "error")
      prohibited this record from being saved:
    %ul
      - target.errors.full_messages.each do |msg|
        %li= msg
